<!-- <nav-menu></nav-menu> -->
<div class="float-right alert-dismissible alert">
    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
        <a [routerLink]="['/user/add-user']" class="m-portlet__nav-link btn btn-lg  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
            <mat-icon  ngbPopover="Add New User" triggers="mouseenter:mouseleave" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
        </a>
    </div>
</div>
<div class="m-content">
    <div class="container col-3 btn-lg"><label>User</label></div>
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet">
                    <div class="m-portlet__body">
                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                            <div class="row">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-4 col-md-offset-4">
                                            <div class="m-input-icon m-input-icon--left ">
                                                <input type="text" class="form-control m-input " placeholder="Search..." id="generalSearch">
                                                <span class="carousel-indicators carousel-item-next col-md-7 m-input-icon__icon m-input-icon__icon--left">
                                                    <span>
                                                        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-section">
                            <div class="m-section__content">
                                <table class="table table-striped" id="user-data">
                                    <thead>
                                        <tr>
                                            <th style="display: none">id</th>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>