<div class="float-right alert-dismissible alert">
    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
        <a href="user" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
            <mat-icon  aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
        </a>
    </div>
</div>
<div class="m-content container">
        <div class="container col-3 btn-lg"><label>New User</label></div>
        <div class="row">
            <div class="col-md-12">
                <div class="m-portlet m-portlet--tab">
                    <form class="m-form m-form--fit m-form--label-align-right" id="form" data-bind="submit: addUser">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="firstName">
                                    First Name
                                </label>
                                <input type="text" class="form-control m-input" id="firstName" placeholder="First Name" name="firstName">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="lastName">
                                    last Name
                                </label>
                                <input type="text" class="form-control m-input" id="lastName" placeholder="last Name" name="lastName">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="email">
                                    Email
                                </label>
                                <input type="email" class="form-control m-input" id="email" placeholder="Email" name="email" >
                            </div>
                            <div class="form-group m-form__group">
                                <label for="phoneNumber">
                                    Phone Number
                                </label>
                                <input type="number" class="form-control m-input" id="phoneNumber" placeholder="Phone Number" name="phoneNumber" >
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputPassword1">
                                    Password
                                </label>
                                <input type="password" class="form-control m-input" id="password" placeholder="Password" name="password" >
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputPassword1">
                                    Re-Password
                                </label>
                                <input type="password" class="form-control m-input" id="rePassword" placeholder="Re-Password" name="rePassword">
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                                <button  type="button" class="btn btn-secondary " onclick="">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
        </div>
    </div>
</div>