<div class="m-content container">
        <div class="container col-3 btn-lg"><label>New User</label></div>
        <div class="row">
            <div class="col-md-12">
                <div class="m-portlet m-portlet--tab">
                    <form class="m-form m-form--fit m-form--label-align-right" id="form" data-bind="submit: addUser">
                        <div class="m-portlet__body">
                            <div class="form-group">
                                <mat-form-field>
                                        <input matInput placeholder="First Name">
                                </mat-form-field>
                            </div>
                            <div class="form-group m-form__group">
                                <mat-form-field>
                                        <input matInput placeholder="Last Name">
                                </mat-form-field>
                            </div>
                            <div class="form-group m-form__group">
                                <mat-form-field>
                                        <input matInput placeholder="Email">
                                </mat-form-field>
                            </div>
                            <div class="form-group m-form__group">
                                <mat-form-field>
                                        <input matInput placeholder="Phone Number">
                                </mat-form-field>
                            </div>
                            <div class="form-group m-form__group">
                                <mat-form-field>
                                        <input matInput placeholder="Password">
                                </mat-form-field>
                            </div>
                            <div class="form-group m-form__group">
                                <mat-form-field>
                                        <input matInput placeholder="Re-Password">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                                <button  type="button" class="btn btn-secondary " [routerLink]="['/user']">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>